.sidebar{
    width: 250px;
    height: 100vh;
    min-height: 600px;
    background: #FFBE03;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar__item{
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    margin: 10px 0;
}
