

.cabinet__item > ::-webkit-scrollbar {
   display: none;
  }
.cabinet__list{
    width: calc(100% - 250px);
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.cabinet__item{
    width: 300px;
    height: 400px;
    border-radius: 30px;
    margin: 20px auto;
}

.cabinet__item__top{
    background: #FFFFFF;
border-radius: 30px 30px 0px 0px;
font-size: 18px;
width: 100%;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}

.cabinet__item__body{
    background: rgba(217, 217, 217, 0.7);
    border-radius: 0 0 30px 30px;
    width: 100%;
    height: 360px;
    padding: 15px 20px;
    overflow-y: auto;
}


@media only screen and (max-width: 600px){
    .cabinet{
        display: flex;
        flex-direction: column;
    }
    .cabinet__list{
        width: 100%;
        margin-top: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .cabinet__item{
        width: 90%;
    }
}

@media only screen and (max-width: 450px){
    .cabinet__item{
        width: 100%;
    }
}