.depozit{
    width: calc(100% - 250px);
    height: auto;
    padding: 30px 25px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.depozit__time{
    width: 100%;
    background: rgba(255, 190, 3, 0.92);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.depozit__time >span, .depozit__time >time{
    font-weight: 900;
font-size:25px;
color: #000000;
}

.depozit__card{
    width: 350px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 20px auto;
}
.depozit__card >h2{
    width: 100%;
    font-weight: 900;
    background: #FFBE03;
border-radius: 30px 30px 0px 0px;
text-align: center;
}

.depozit__card__body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
}
.depozit__card__body >span{
    font-weight: 800;
font-size: 20px;
color: #000000;
text-align: center;
}
.depozit__card__body >p{
    font-size: 18px;
    font-weight: 700;
}



@media only screen and (max-width: 700px){
    .depozit__time >span, .depozit__time >time{
    font-size:17px;
    }
}

@media only screen and (max-width: 600px){
    .depozit{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 0;
    }

   
    
    .depozit__time{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .depozit__card{
        background: none;
    }
    .depozit__card__body{
        display: none;
    }
    .depozit__card > h2{
        border-radius: 20px;
    }
    .depozit__card__title:active ~ .depozit__card__body{
        display: flex;
    }
    .depozit__card__title:active, .depozit__card{
        background: rgba(255, 255, 255, 0.9);
    }
    .depozit__card__title:active{
        background: #FFBE03;
    }
}

@media only screen and (max-width: 350px){
    .depozit__card__body >span{
    font-size: 17px;
    }
    .depozit__card__body >p{
        font-size: 15px;
    }
}